body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

body header {
  font-size: 1.5rem;
}

#counter {
  font-size: 1.2rem;
}
